:root {
  --main-h1-color: #E3D5C8;
  --content-background-color: #222120;
  --container-background-color: #2F261E;
}

#concertList {
  font-family: 'Open Sans';
  padding: 1em;
}

nav {
  background-color: var(--container-background-color);
}

#bmm_logo {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50px;
}

#root-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--container-background-color);
}

.listOfPlayers {
  color: white;
  font-size: 1.2em;
  font-family: 'Open Sans';
}

.navbarHeadings {
  color: white;
  text-align: right;
}

#brand-text {
  color: #E3D5C8;
  margin-left:20px;
  margin-top: 15px;
}

p {
  font-family: open sans;
  font-size: 1.2em;
  padding: 1em;
  color: white;
  text-align: justify;
}


a:hover {
  font-weight: 900;
}

.BMMHeadingH1 {
  font-family: Open sans;
  padding: 1em;
  font-size: 1.2em;
  color: var(--main-h1-color);
  padding-top: 2em;
  white-space: nowrap;
}

.BMMHeadingH1 > span {
  text-decoration: underline;
  text-underline-offset: 15px;
}

#bmmHeading {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: url("../../assets/img/bmm_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

#bmmHeadingText {
  display: inline-block;
  color: var(--main-h1-color);
  letter-spacing: 0.6em;
  font-size: 2em;
  text-align: center;
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2em;
  padding-top: 2em;
  border-bottom: 1px solid var(--main-h1-color);
  width: 90%;
  margin: auto;
}

.eventDate {
  font-size: 1.4em;
  
}

.eventDesc {
  text-align: right;
  width: 50%;
}

#mainContent {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10px;
}

.content-row {
  background-color: var(--content-background-color);
  border: 1px solid var(--main-h1-color);
  border-radius: 5px;
  padding: 20px;
}

#logo {
  height: 2.5em;
}

.footer {
  background: #2F261E;
}

#BMMCredit {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  margin-left: 5%;
  font-size: 0.9em;
}